doctype 5
html(lang="ru")
  head
    title= title 
  body
    #mainwrapper
      #maincontent
        h1.maintitle hello all
        h2 another hello to somebody
        #newdiv
          p just hello
      #rightcol
        section#searchwid
          p field
