extends layout

block content
	#home-page.container
		.input-append	
			select#cur-cat
				- for cat in categories
					option(value='#{cat._id}')= cat.name
			script function catByID(){ location.href = '/category/' + document.getElementById('cur-cat').value }
			button.btn(onClick='catByID()') Перегляд категорії
		ul
			li: a(href='/users') all users
			li: a(href='/items') all items
			li: a(href='/categories') all categories
			li: a(href='/about') about us
			li: a(href='/routes') all routes
			li: a(href='/user') new user
			li: a(href='/items') new item
			li: a(href='/category') new category
			li: a(href='/items/exchanged') exchanged
		script function userById() { location.href = '/user/'+ document.getElementById('user_id').value }
		input(type='text', id='user_id', size='90')
		button(onClick= 'userById()') show user by ID
		br
		br
		script function itemById() { location.href = '/item/'+ document.getElementById('item_id').value }
		input(type='text', id='item_id', size='90')
		button(onClick= 'itemById()') show lot by ID
		br
		br
		script function categoryById() { location.href = '/category/'+ document.getElementById('category_id').value }
		input(type='text', id='category_id', size='90')
		button(onClick= 'categoryById()') show category by ID
		br
		br
		script 
			function users() {
					var parameters = ['name', 'email', 'location'];
					var query='';
					for(var i = 0; i < parameters.length; i++) {
						var p = document.getElementById(parameters[i]);
						if ( p && p.value.length>0 ) {
							if (query.length > 0 ) query += '&';
							query += 'parameters[' + parameters[i] +']'+ '=' + p.value;
						}
					}
					location.href = query.length > 0 ? '/users?' + query : '/users';
				};
		p
			b name 
			input(type='text', id='name', size='40') 
			b email 
			input(type='text', id='email', size='40') 
			b location
			input(type='text', id='location', size='40')
			button(onClick= 'users()') show users by parameters
		script 
			function items() {
					var parameters = ['price', 'category', 'status'];
					var query='';
					for(var i = 0; i < parameters.length; i++) {
						var p = document.getElementById(parameters[i]);
						if ( p && p.value.length>0 ) {
							if (query.length > 0 ) query += '&';
							query += 'parameters[' + parameters[i] +']'+ '=' + p.value;
						}
					}
					location.href = query.length > 0 ? '/items?' + query : '/items';
				};
		p
			b price 
			input(type='text', id='price', size='40') 
			b category 
			input(type='text', id='category', size='40') 
			b status
			input(type='text', id='status', size='40')
			button(onClick= 'items()') show items by parameters	
