extends layout

block content
	#home-page.container
	.whole-width-container.main-cat-wrapper
		.container
			.row
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/clothes2.jpg', alt='category')
						Одяг
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/technique.jpg', alt='category')
						Побутова техніка
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/interior.jpg', alt='category')
						Інтер'єр
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/garden.jpg', alt='category')
						Сад город
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/repairs2.jpg', alt='category')
						Для ремонту
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/cars.jpg', alt='category')
						Авто мото
			.row
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/clothes.jpg', alt='category')
						Для дітей
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/books.jpg', alt='category')
						Книги
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/gadgets2.jpg', alt='category')
						Гаджети
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/discs.jpg', alt='category')
						Музика фільми
				.span2
					a.text-center.main-cat
						img.img-circle(src='/i/filnum.jpg', alt='category')
						Колекціонеру
				.span2	
					a.text-center.main-cat
						img.img-circle(src='/i/rizne.jpg', alt='category')
						Різне
	.container
		.row
			.span12
				.jcarousel
					#ex-prod
						a: img(src='/i/lots/wificar.jpg')
						a: img(src='/i/lots/ebookreader.jpg')
						a: img(src='/i/lots/kedu.jpg')
						a: img(src='/i/lots/ochki.jpg')
						a: img(src='/i/lots/gonki.jpg')
						a: img(src='/i/lots/cap.jpg')
						a: img(src='/i/lots/kosheljok.jpg')
						a: img(src='/i/lots/girya.jpg')
					.clr
					a#prev-carousel(href='#') 
					a#next-carousel(href='#') 
