extends layout

block content
	#new-item
		.container
			.row
				.span3
					.well
						ul.nav.nav-list
							li.nav-header Профіль
							li: a(href='#')  Інфо
							li: a(href='#') Мої лоти
							li: a(href='#') Налаштування
							li.nav-header Лоти
							li: a(href='#') Закладки 
							li: a(href='#') Активні
							li: a(href='#') Історія
				.span9
					
